<div class="jumbotron" id="home-jumbotron">

    <div class="container">
        <h2> "Kids-Club" —  детский развивающий центр в Новокуйбышевскe</h2>
        <p> 
            Мы рады предложить вам удобное расписание наших курсов : -мама+малыш (от 10 мес до 3-х лет); 
            -подготовка к школе (от 4-х до 6 лет); -английский язык (от 4-х до 12 лет); -группа выходного дня; -мини садик;
        </p>
    </div>    
</div>

<div class="jumbotron" id="home-grid">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-4">
                <%= link_to image_tag("Mama_i_malysh.png"), "#" %>
                <%= link_to "Студия раннего развития «Мама и малыш» от 10 мес. до 2 лет", "#"%> 
            </div>
            <div class="col-md-4">
                 <%= link_to image_tag("from_3_to_4.png"), "#" %> 
                 <%= link_to "Комплексное развитие от 3-х до 4-х лет", "#"%> 
            </div>
            <div class="col-md-4">
                 <%= link_to image_tag("english_for_little_ones.png"), "#" %>
                 <%= link_to "Английский язык для самых маленьких (с 4 лет)", "#"%> 
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-4">
                 <%= link_to image_tag("english_for_schoolchildren.png"), "#" %>
                 <%= link_to "Английский язык для школьников", "#"%>  
            </div>
            <div class="col-md-4">
                 <%= link_to image_tag("Izo-lepka.png"), "#" %>
                 <%= link_to "Изо-лепка для детей с 3 лет", "#"%>  
            </div>
            <div class="col-md-4">
                 <%= link_to image_tag("logoped.png"), "#" %>
                 <%= link_to "Логопед (индивидуальные занятия)", "#"%>  
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-md-4">
                 <%= link_to image_tag("to_school.png"), "#" %>
                 <%= link_to "Подготовка к школе от 4-х до 6 лет", "#"%>  
            </div>
            <div class="col-md-4">
                 <%= link_to image_tag("camp.png"), "#" %>
                 <%= link_to "Лагерь в дни школьных каникул", "#"%>  
            </div>
        </div>
    </div>
</div>

<div class="jumbotron" id="home-jumbotron" style="background: #08ADE5;">
    <div class="container">
        <%= link_to "Записаться", request_path, id: 'application-button', type: "button", class:"btn btn-success btn-lg" %>
        <h2>Запишитесь на пробное занятие</h2>
        <p>Позвоните по телефону +7 927 604 50 50 или нажмите на кнопку «Записаться»</p>
    </div>
</div>