<%= provide(:title, "")%>
<%= provide(:title, "Подготовка к школе") %>
<%content_for :course do %>
<h1>ПОДГОТОВКА к школе в нашем клубе делится на три ступени</h1>

<h2>Первая ступень для детей 4-5 лет.</h2>

<p>Подготовка к школе идет 2 раза в неделю в вечернее время. Мы занимаемся по авторской методике Тимофеевой Софьи, которая включает в себя все основные направления. В течение учебного года ребята знакомятся с буквами, с цифрами. Очень бережно, не торопясь изучаем каждую буковку и цифру со всех сторон. Учимся писать их по трафарету, находить в словах, слышать в речи, определять местонахождение в конкретном слове.</p>
<p>Много упражнений на постановку руки, на концентрацию внимания. Обязательно на каждом уроке развиваем речь, учимся отвечать на вопросы, задавать вопросы, описывать картинку, пересказывать текст.</p>
<%= image_tag "course7/2.jpg", class: 'article-photo full'%>
<h2>Вторая ступень-для детей 5-6 лет. </h2>
<p>На этом курсе мы также изучаем буквы, цифры, но уже обучение идёт более интенсивно и углублённо. Проводим звуко-буквенный анализ слов, ставим ударение, делим на слоги. По математике изучаем состав числа, выполняем элементарные действия.</p>
<%= image_tag "course7/3.jpg", class: 'article-photo full'%>
<h2>Третья ступень-для детей 6-7 лет. </h2> 
<p>Здесь мы уже начинаем читать и отрабатываем технику чтения. УЧИМСЯ понимать прочитанное, пересказывать, отвечать на вопросы. По математике решаем примеры и первые задачи.</p>
<p>Занимаемся по рабочим листам, поэтому никаких дополнительных учебников и тетрадей нам не надо.</p>

<%= image_tag "course7/1.jpg", class: 'article-photo full'%>
<% end %>