<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDONZtS4DEHHGWcwLM9zS4NMcJ6rxx4ZQ"></script>
      <script src="https://cdn.jsdelivr.net/gmap3/7.2.0/gmap3.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash'%>
    
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
